/* HEADERS ------------------------------------------------------------------ */

#body-user #header,
#body-settings #header,
#body-public #header {
	top: 42px;
	z-index: 500;
	background-color: #6A5687;
}

/* LOGO and APP NAME -------------------------------------------------------- */

header .logo {
	background-image: url(../img/logo.png);
}

#header .logo-icon {
	background-image: url(../img/logo-icon.png);
}

/* NAVIGATION --------------------------------------------------------------- */

#navigation {
	top: 87px;
	background-color: #3E3363;
}
/* arrow look */
#navigation:after, #expanddiv:after {
	border-bottom-color: #3E3363;
}

/* USER MENU -----------------------------------------------------------------*/

#expanddiv {
	background-color: #3E3363;
}
